<ActionBar title="Player List" class="action-bar"></ActionBar>

<GridLayout rows="auto, auto, *">
  <Label row="0" text="Hello Label" textWrap="true"></Label>

  // Password
  <MaxTextBox
    row="1"
    [(text)]="pw"
    (loaded)="tbLoaded($event)"
    label="Test"
    returnKeyType="done"
    autocorrect="false"
    autocapitalizationType="none"
  ></MaxTextBox>

  <ListView row="1" height="100%" [items]="items" class="list-group">
    <ng-template let-item="item">
      <Label
        [nsRouterLink]="['../player', item.id]"
        [text]="item.name"
        class="list-group-item"
      ></Label>
    </ng-template>
  </ListView>
</GridLayout>
